<section class="hero is-primary is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Hexcrawl
      </h1>
      <h2 class="subtitle">
        Persistent, procedurally generated campaign worlds
      </h2>
      <p class="control is-grouped">
        <input class="input" type="text" placeholder="Enter 4-Letter Map Code">
        <a href="#" class="button is-success">
          Crawl
        </a>
      </p>
        <a href="/maps" class="button is-primary is-large is-outlined is-inverted" data-method="post">
          Generate New Map
          <i class="fa fa-map"></i>
        </a>
    </div>
  </div>
</section>
