<section class="hero is-primary is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Hexcrawl
      </h1>
      <h2 class="subtitle">
        Persistent, procedurally generated campaign worlds
      </h2>
      <%= form_for :map do %>
        <p class="control is-grouped">
          <%= text_field_tag(:code, nil, class: 'input', placeholder: 'Enter 4-Letter Map Code', required: 'required') %>
          <%= button_tag 'Crawl', class: 'button is-success' %>
        </p>
      <% end %>
      <br />
      <a href="/maps" class="button is-primary is-large is-outlined is-inverted" data-method="post">
        Generate New Map
        <i class="fa fa-map"></i>
      </a>
    </div>
  </div>
</section>
