// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tile-container {
    margin-left: 2vw;
    margin-top: 2vh;
}

.tile {
    width: 12vw;
    padding-bottom: 12vw;
    display: inline-block;
    margin-right: -6px;
    margin-bottom: -2px;
    border: 2px solid #d3d6db;
}

body .header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  box-shadow: 0 0 5px 5px #ccc;
}

body .map {
  margin-top: 50px * 1.2;
}
