// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tile-container {
    margin-left: 2vw;
    margin-top: 2vh;
}

.tile {
    width: 12vw;
    display: inline-block;
    margin-right: -6px;
    margin-bottom: -2px;
    border: 2px solid #d3d6db;
}

.tile-coordinates {
  text-align: center;
}

body .map {
  margin-top: 50px * 1.2;
}
