// Place all the styles related to the Tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .section {
    margin-top: 25px;
}

.reroll {
  text-align: right;
}

.tile-data-table {

  th:nth-child(1), th:nth-child(3) {
    width: 25%;
  }

  th, td {
    &:nth-child(3) {
      text-align: right;
    }
  }
}
