// Place all the styles related to the Tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body .header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    box-shadow: 0 0 5px 5px #ccc;
}

body .section {
    margin-top: 25px;
}
